

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>User Registration Form</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/typeahead.bundle.js" type="text/javascript"></script>
  </head>
  <body>


    <form class="search" action="typeahead" method="post">
      <input class="form-control typeahead tt-query" type="text" name="input" placeholder="Search">
      <input class="btn btn-primary" type="submit" name="input" value="Submit">
    </form>


<div>
For Registration Fill Details Below:


<form action="/controllers/register-controller" method="POST">  
First Name: <input type="text" name="name">  
Email: <input type="text" name="email">
Password: <input type="password" name="password">
Number:<input type="number" name="number">
   
<input type="submit" value="Submit">  

</form>
</div>
</body>  
</html>  
